div {
    display: flex;
    align-self: center;
    flex-direction: column
}

h1 {
    align-self: center;
}

.inputs {
    align-self: center;
    margin-bottom: 10px;
    width: 500px;
}

#charCount {
    margin-top: 0px;
    font-size: 10px;
}